dummy/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fb64a9dc-8de6-4ed4-b364-d4bafd74bb27" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="ded0b7e4-7052-4031-9553-3f998559be56" >
		<http:listener doc:name="Listener" doc:id="7d31882d-7319-4ec0-961e-deac166422e6" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value='#["hi dummy"]' doc:name="Set Payload" doc:id="43528f5e-eab8-49c0-b266-417d4396f3d6" />
	</flow>
</mule>
