dummy/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="99941148-ff9d-415e-8ba4-f958784a5ea0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="f8c56ef5-d358-4858-9a1a-6c5fd5a461f7" >
		<http:listener doc:name="Listener" doc:id="359f84eb-3fc3-4036-b0dc-a03a00d37bc9" config-ref="HTTP_Listener_config" path="/batch"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="8aca5938-856c-4e08-b3ca-66ac4cf7598f" />
		<logger level="INFO" doc:name="Logger" doc:id="bf3bb241-e5c4-4cb2-80f4-404892364ccf" />
	</flow>
</mule>
